@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Montserrat", Geneva, Tahoma, sans-serif;
}
.container {
    padding: 0 100px;
}

.button {
    text-decoration: none;
    color: #ffffff;
    background-color: #FF5959;
    font-weight: 600;
    font-size: 1.2rem;
    padding: 15px 20px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

h2 {
    font-size: 2.5rem;
    margin-bottom: 15px;
}

p {
    color: #707070;
    font-size: 1rem;
    margin-bottom: 20px;
}

/* --------Header-section-start------- */

#header {
    background:linear-gradient(0deg, rgba(0, 0, 0, .9), rgba(37, 37, 37, 0.1)), url("images/donation9.jpg") center center no-repeat;
    background-size: cover;
    min-height: 90vh;
    color: #ffffff;
    text-align: center;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#header .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#header h1 {
    font-size: 3.5rem;
    margin-bottom: 20px;
}


#header p {
    font-size: 1.2rem;
    margin-bottom: 25px;
    color: #ffffff;
    width: 70%;
    justify-content: center;
    align-items: center;
}

/* --------Header-section-end--------- */


/* ---------Donate-section-start------- */

#donate {
    padding: 100px 0;
    margin: 0 auto;
}

#donate .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#donate .container p {
    color: #707070;
    width: 65%;
    font-size: 1rem;
    margin-bottom: 20px;
}

#donate .ammount {
    width: 65%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

#donate .ammount .item {
    font-size: 2rem;
    font-weight: 500;
    padding: 40px 15px;
    background-color: #FAFAFA;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

#donate .ammount .item:nth-child(3) {
    color: #FF5959;
    background-color: #FFEEEE;
    border: 2px solid #FF5959;
}

.grey {
    color: #B3B3B3;
    border-bottom: 1px solid #B3B3B3;
    padding: 5px;
}

/* ---------Donate-section-end------- */

/* ---------Donate-Plan-section-Start------- */
#donate-plan {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content:space-around;
    align-items: center;
    text-align: center;
    margin-bottom: 50px;
}

#donate-plan .plan {
    display: flex;
    text-align: left;
    width: 100%;
    margin-top: 40px;
}

#donate-plan .plan .item {
    margin: 10px;
    width: 33.33%;
    height: auto;
    padding: 20px;
    
}

#donate-plan .plan .item:nth-child(1) {
    background-color: #4f9da62d;
}

#donate-plan .plan .item:nth-child(2) {
    background-color: #FF59592f;
}

#donate-plan .plan .item:nth-child(3) {
    background-color: #FFF4D6;
}
#donate-plan .plan img {
    width: 60px;
    height: auto;
    margin-bottom: 20px;
}

#donate-plan .plan h3{
    font-size: 1.5rem;
    margin-bottom: 10px;
}

/* ---------Donate-Plan-section-end------- */

/* ----Subscription-section-Start---- */
#subscription {
    margin: 100px 0;
    display: flex;
    align-self: center;
    justify-content: center;
    text-align: center;
}
#subscription h2 {
    margin-bottom: 20px;
}

#subscription p {
    margin-bottom: 40px;
}
#subscription .email {
    padding: 70px 150px;
    background-color: #FFF4D6;
}

#subscription .email input {
    margin: 0;
    font-size: 1rem;
    padding: 15px 20px;
}

#subscription .email input[type=email] {
    background-color: #ffffff;
    width: 300px;
    margin: 0;
    border: none;
    border-radius: 5px 0 0 5px;
    -webkit-border-radius: 5px 0 0 5px;
    -moz-border-radius: 5px 0 0 5px;
    -ms-border-radius: 5px 0 0 5px;
    -o-border-radius: 5px 0 0 5px;
}

#subscription .email input[type=submit] {
    margin: -3px;
    background-color: #FF5959;
    border: none;
    color: #ffffff;
    border-radius: 0 5px 5px 0;
    -webkit-border-radius: 0 5px 5px 0;
    -moz-border-radius: 0 5px 5px 0;
    -ms-border-radius: 0 5px 5px 0;
    -o-border-radius: 0 5px 5px 0;
}
/* ----Subscription-section-End---- */

/* -----Footer-Section-Start---- */
footer {
    background-color: #0B0D17;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer > h1 {
    font-family: 'Jost', sans-serif;
    color: #FF5959;
    margin-bottom: 20px;
}

footer p {
    color: #ffffff;
    font-size: 13px;
}
/* -----Footer-Section-End---- */




